<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Book Store Template, Free CSS Template, CSS Website Layout</title>
    <meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML" />
    <meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   
            <div id="templatemo_content_right">

                <div id="templatemo_content_right"><br /><br /><br /><br />
                <h2> Item Added to your Cart!</h2><br />
                 <h3>@Html.ActionLink("View Cart ", "Cart", "Cart")<img src="~/images/cart.jpg" alt="image" height="30 " width="30" /></h3><br /><br /><br />
            </div>


                    <div class="cleaner_with_height">&nbsp;</div>
  </div> <!-- end of content -->

</body>
</html>

