<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Book Store Template, Free CSS Template, CSS Website Layout</title>
    <meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML" />
    <meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   
            <div id="templatemo_content_right">
                <div class="templatemo_product_box">
                    <h1>Collision  <span>(New Release)</span></h1>
                    <img src="~/images/2.jpg" alt="image" height="150" width="100" />
                    <div class="product_info">
                        It does not do to dwell on dreams and forget to live.<br />
                        <h3>$55</h3>
                        @*<div class="buy_now_button" style="background-image:url(/images/templatemo_btn_02.jpg)">*@@Html.ActionLink("Buy Now", "Buy", "Buy")<br />
                        @*<div class="detail_button" style="background-image: url(/images/templatemo_btn_02.jpg)">*@@Html.ActionLink("Detail", "Details", "Details")<br />
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                

                <div class="templatemo_product_box">
                    <h1>Greatest Cruses <span>(by M.arnold(uk))</span></h1>
                    <img src="~/images/im.jpg" alt="image" height="150" width="100" />
                    <div class="product_info">
                        <p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                        <h3>$35</h3>
                        @*<div class="buy_now_button"><a href="subpage.cshtml">*@@Html.ActionLink("Buy Now", "Buy", "Buy")<br />
                        @*<div class="detail_button"><a href="subpage.cshtml">*@@Html.ActionLink("Detail", "Details2", "Details2")<br />
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>

                <div class="templatemo_product_box">
                    <h1>I know you like to smoke <span>(by Nazir-ul-Haq)</span></h1>
                    <img src="~/images/smoke.jpg" alt="image" height="150" width="100" /> >
                    <div class="product_info">
                        <p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                        <h3>$65</h3>
                        @*<div class="buy_now_button"><a href="subpage.cshtml">*@@Html.ActionLink("Buy Now", "Buy", "Buy")<br />
                        @*<div                  class="detail_button"><a href="subpage.cshtml">*@@Html.ActionLink("Detail", "Details2", "Details2")<br />
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                

                <div class="templatemo_product_box">
                    <h1>Philip Margolin  <span>(by Japanese Name)</span></h1>
                    <img src="~/images/philip.jpg" alt="image" height="150" width="100" />
                    <div class="product_info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <h3>$45</h3>
                        @*<div class="buy_now_button"><a href="subpage.cshtml">*@@Html.ActionLink("Buy Now", "Buy", "Buy")<br />
                        @*<div                  class="detail_button"><a href="subpage.cshtml">*@@Html.ActionLink("Detail", "Details2", "Details2")<br />
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>

                <a href="subpage.html"><img src="/images/templatemo_ads.jpg" alt="ads" /></a>
            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
       
</body>
</html>